from launch import LaunchDescription
from launch.actions import IncludeLaunchDescription
from launch.launch_description_sources import PythonLaunchDescriptionSource
from launch_ros.substitutions import FindPackageShare
from launch_ros.actions import Node

def generate_launch_description():
    ur_control_launch = IncludeLaunchDescription(
        PythonLaunchDescriptionSource([
            FindPackageShare('ur_robot_driver'), '/launch/ur_control.launch.py'
        ]),
        launch_arguments={
            'ur_type': 'ur5e',
            'headless_mode': 'true',
            'robot_ip': '192.168.1.102',
            'launch_rviz': 'false'
            # 'initial_joint_controller':'joint_trajectory_controller'
        }.items()
    )

    realsense_launch = IncludeLaunchDescription(
        PythonLaunchDescriptionSource([
            FindPackageShare('realsense2_camera'), '/launch/rs_launch.py'
        ])
    )

    ur_moveit_launch = IncludeLaunchDescription(
        PythonLaunchDescriptionSource([
        FindPackageShare('ur_moveit_config'), '/launch/ur_moveit.launch.py'
        ]),
        launch_arguments={
            'ur_type': 'ur5e',
            'launch_rviz': 'true'
        }.items()
    )

    static_transform_publisher = Node(
        package="tf2_ros",
        executable="static_transform_publisher",
        name="static_transform_publisher",
        arguments=["0.0", "0.0", "0.0", "0.0", "0.0", "0.0", "1.0", "world", "base_link"],
        output="screen",
    ) 

    robot_state_node = Node(
        package='ros_brics',
        executable='robot_state.py',  # Replace with your executable
        name='robot_state',
        output='screen',
        parameters=[{'initial_state': 'Idle'}]  # Set initial state to Idle
    )

    yolo_node =  Node(
        package='ros_brics',
        executable='yolov8_obb_publisher.py',
        name='camera_subscriber',
        output='screen'
    )

    camera_node = Node(
        package='ros_brics',
        executable='camera_publisher.py',
        name='camera_publisher',
        output='screen'
    )

    gripper_node = Node(
        package='robotiq_gripper_ros2',
        executable='gripper_service_node.py',
        name='gripper_service_node',
        output='screen'
    )

    move_to_pose_node = Node(
        package='ros_brics',
        executable='move_to_pose_server',
        name='move_to_pose_server',
        output='screen'
    )

    return LaunchDescription([
        ur_control_launch,
        realsense_launch,
        ur_moveit_launch,
        static_transform_publisher,
        robot_state_node,
        yolo_node,
        camera_node,
        gripper_node,
        move_to_pose_node
    ])
